/* VerticalNavBar.css */

.vertical-nav {
    background-color: #271033;
    color: #fff;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }
  
  .vertical-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .vertical-nav li {
    margin-bottom: 10px;
  }
  
  .vertical-nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  .vertical-nav a:hover,
  .vertical-nav a.active {
    background-color: #555;
  }
  